<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="background-color: aquamarine;" align="center">
        <tr> <td><label style="size: 30p;">ENTER your Email</label> </td></tr>
        <tr> <td style="text-align: center;"><input type="email" name="email"> </td></tr>
        <tr> <td><label style="size: 30p;"> ENTER your UserName</label> </td></tr>
        <tr> <td style="text-align: center;"><input type="text" name="userName"> </td></tr>
        <tr> <td><label style="size: 30p;"> ENTER your Password</label> </td></tr>
        <tr> <td style="text-align: center;"><input type="password" name="psw"> </td></tr>
        <tr> <td style="text-align: center;"><input type="submit" name="send"> </td></tr>
        <input type="button" value="update" name="upDate"/>

    </table>
    <div style="height: 100%; background-color: aquamarine;"></div>
      
</body>
</html>